*{
    margin:0px;
    padding:0px;
}
#main-header
{
    height:65vh;
    width:100%;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
#main-header nav{
    
    text-align: center;
}
#main-header nav li a{
    text-decoration: none;
    color:white;
    transition: color 0.5s, border-bottom 4s;
}
#main-header nav li a:visited{
    color:white;
}
#main-header nav li a:hover{
    color:lightgray;
    border-bottom:2px solid white;
}
#main-header li {
    margin-top: 25px;
    margin-right: 10px;
    color:white;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    
}
#main-header h1{
    margin-top: 120px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:60px;
    text-align: center;
    
}
.icon-list {
    text-align: center;
}
.icon-list li a i{    
    font-size: 23px;
    margin-top: -5px;
    padding:10px;
    color:white;
    border-radius:50%;
}
/* .icon-list li a i:hover{
    box-shadow: 0px 0px 6px 2px white;
    
} */

/* Main-Header Over */

/* About Section Start */

#noni
{
    position:relative;
    margin-top: -95px;
    text-align:center;
}
#noni img{
    
    height:200px;
    width:200px;
    border-width: 2px;
    border-style: solid;
    border-color:white;
    border-radius: 100px;
    box-shadow: 0px 0px 3px 3px grey;
}
#about div#para{
    text-align: center;
    margin:auto;
    margin-top:30px;
    width:65vw;
}
#about p{
    color:grey;
    font-size:20px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    word-spacing: 5px;
}
#about span{
    color:#2857a4;
}
section{
    width:100%;
    /* height:75vh; */
    margin-top:50px;
    display:flex;
    flex-direction: column;
}
section:nth-child(2n){
    background-color: #9e9b9b29;
}
section:nth-child(2n+1){
    background-color: white;
}

/* About Section End */

/* Skills Section Start */

.section-heading{
    color:#4169E1;
    text-align:center;
    padding:20px;
    font-weight:400;
    margin-top:20px;
}
.section-heading span{
    font-size:40px;
}
#skills-display{
    height:60vh;
    width:70vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin:auto;
    justify-content: space-around;
}
.grey-bg{
    border-radius: 40px;
    background-color: #D3D3D3;
    height:40px;
    width:200px;
    box-shadow: 0px 0px 2px 3px grey inset;
}
.blue-bar{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height:100%;
    display:flex;
    align-items: center;
    background-color: #6495ED;
    box-shadow: 6px 0 5px -2px rgba(156, 154, 154, 0.952)
}
.orange-bar{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height:100%;
    display:flex;
    align-items: center;
    background-color: #FF7F50;
    box-shadow: 6px 0 5px -2px rgba(156, 154, 154, 0.952)
}
.brown-bar{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height:100%;
    display:flex;
    align-items: center;
    background-color: #9370DB;
    box-shadow: 6px 0 5px -2px rgba(156, 154, 154, 0.952)
}
.green-bar{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height:100%;
    display:flex;
    align-items: center;
    background-color: #3CB371;
    box-shadow: 6px 0 5px -2px rgba(156, 154, 154, 0.952)
}
.cpp{
    width:65%;
}
.html{
    width:85%;
}
.css{
    width:75%;
}
.js{
    width:55%;
}
.java{
    width:90%;
}
.mg-left{
    margin-left:150px;
    margin-top:-80px;
}
.android{
    width:23%;
}
.ios{
    width:15%;
}
.nodejs{
    width:10%;
}
.mg-right{
    margin-top:-80px;
    margin-right:150px;
}
.skill-text{
    margin-left:20px;
    font-size: 20px;
    color:white;
}

/* Skill section end */

/* Education section start */

#education{
    height:150vh;
}
#education-display{
    position: relative;
    height:100%;
    /* background-color: slateblue; */
}
#edu-1{
    margin-top:50px;
}
#vertical-line{
    position:absolute;
    height:75%;
    width:0px;
    /* margin-top:-40%; */
    margin-bottom:10%;
    border:3px dashed black;
    left:50%;
    top:10%;

}
.edu-box{
    min-height:220px;
    width:33%;
    border:1px solid black;
    margin-left:13%;
    position: relative;
}
.edu-box:nth-child(2n){
    left:42%;
}
/* Education section end */

/* Portfolio section start */

#portfolio{
    height:130%;
    width:100%;
    padding-bottom: 30px;
}
#portfolio-display{
    height:95%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}
.port-img{
    padding: 20px 110px 20px 60px;
    height:11em;
    width:11.5em;
    background-size: contain;
    background-repeat: no-repeat;
}
.port-img p{
    display:none;
    color:white;
    font-size:22px;
    font-family: 'Source Sans Pro', sans-serif;
}
.port-img:hover{
    box-shadow: 0px 0px 200px 5px rgb(126, 114, 114) inset,0px 0px 5px 2px rgba(9, 214, 101, 0.753);
}
.port-img:hover p{
    display:block;
}
#port-img1{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png");   
    margin-left:10px;
    margin-top: 40px;
}
#port-img2{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png");   
    margin-top: 40px;
}
#port-img3{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png");   
    margin-top: 40px;
}
#port-img4{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png");   
    margin-top: 50px;
}
#port-img5{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png");   
    margin-top: 50px;
}
#port-img6{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png");   
    margin-top: 50px;
}

/* .port-img img{
    padding: 20px 90px 30px 100px;
    height:230px;
    width:250px;
}
.port-img img:hover{
    opacity: 2px;
} */

/* Portfolio end */

/* Contact start */

#contact{
    margin:0px;
    height:75%;
    /* margin-top: 20px; */
    background:linear-gradient(to bottom left,rgb(56, 79, 190),rgb(135, 60, 219));
}
#contact-heading{
    color:white;
    text-align:center;
    padding:30px;
    font-size:40px;
    font-weight:400;
}
#contact-section{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contact-form form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.inp{
    margin-top: 30px;
   background-color:transparent;
   border-bottom: 2px solid white;
   border:none;
   outline:none;
   width:250px;
   padding: 10px;
   border-bottom: 2px solid white;
}
::placeholder { 
    color: white;
    opacity: 0.5;
}
#contact-form form button{
    margin-top: 30px;
    height:40px;
    padding:5px;
    width:140px;
    font-weight: 800;
    color:white;
    background-color: transparent;
    border-color: white;
}
#address{
    display: flex;
    flex-direction: column;
}
#address span{
    color:white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 30px;
}
#address span#mail{
    font-size: 15px;
}
#address span#mail i{
    margin-right:5px;
}
#contact #icons{

    display:flex;
    flex-direction: row;
    width:50vh;
    margin-top:15px;
    margin:auto;
    justify-content: space-around;
}
#contact #icons a{
    box-shadow: 0px 0px 6px 2px white;
    padding:10px;
    /* border-radius: 50%; */
    color:white;
}
/* @media screen and (max-width:800px) {
    #portfolio-display{
        height:95vh;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
    .port-img img{
        padding: 20px 90px 30px 100px;
        height:130px;
        width:150px;
    }
} */
